<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Dashboard (for the birds)</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
    <div id="wrapper">
        <div id="nav">
            <span><em>Home</em></span>
            <a href="/birds/new">New Bird</a>
        </div>
        <h1>Mongoose Dashboard (for the birds)</h1> 
        <div id="content_layer">
            <div id="birds">
                <% if(typeof(birds) != 'undefined' ) { %>
                    <% for (var bird in birds) { %>
                        <p><a href="/birds/<%= birds[bird]._id %>"><strong>Name:</strong> <%= birds[bird].name %> - <strong>Breed:</strong> <%= birds[bird].breed %></a></p>
                        <form action="/birds/edit/<%= birds[bird]._id %>" method="get">
                            <input type="submit" name="submit" value="Edit">
                        </form>
                        <form action="/birds/destroy/<%= birds[bird]._id %>" method="get">
                            <input type="submit" name="submit" value="Delete">
                        </form>
                        <hr>
                    <% } %>
                <% } %>
            </div>
            <div id="errors">
                <% if(typeof(errors) != 'undefined' ) { %>
                    <% for (var x in errors) { %>
                        <h3><%= errors[x].message %></h3>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>